body {
  font-family: 'Sanchez', serif;
  margin:0;
  box-sizing: border-box;
}

#header {
    width:100%;
    height: 120px;
    background-color:#293942;
    display: flex;
    align-items: center;
    color: #F9F8FF;
}

#radiohead {
    position: absolute;
width: 236px;
height: 20px;
left: 200px;
top: 51px;
}

#contact {
    position: absolute;
height: 31px;
left: 53.7%;
right: 45.51%;
letter-spacing: 0.218182px;
font-size: 24px;
line-height: 31px;
}

#plans {
    position: absolute;
    height: 31px;
left: 61.2%;
right: 35.47%;
letter-spacing:0.218182px;
font-size: 24px;
line-height: 31px;
}

#blog {
    position: absolute;
height: 31px;
left: 67.14%;
right: 30.1%;
font-size: 24px;
line-height: 31px;
letter-spacing: 0.218182px;
}

#btnheader1 {
    width: 160px;
    height: 55px;
    background-color: #7971E9;
    position: absolute;
    border-style:none;
left: 72.45%;
right: 19.22%;
top: 4.50%;
font-size: 20px;
font-weight: 400;
color: #F4EEFF;
}

#btnheader2 {
    width: 145px;
    height: 55px;
    position: absolute;
left: 85.03%;
right: 10.42%;
top: 4.50%;
background-color:#293942;
border:1px solid #7971E9;
color: #7971E9;
font-size: 20px;
font-weight: 400;
}

#section1 {
    position: absolute;
    width: 100%;
    height: 842px;
    background-color: #1B262C;
    background-image: url(./images/iPhone\ 11\ Pro\ Copy@3x\ +\ iPhone\ 11\ Pro\ Copy\ 3@3x\ +\ iPhone\ 11\ Pro\ Copy\ 5@3x\ +\ iPhone\ 11\ Pro\ Copy\ 4@3x\ +\ iPhone\ 11\ Pro\ Copy\ 7@3x\ +\ iPhone\ 11\ Pro@3x\ +\ iPhone\ 11\ Pro\ Copy\ 8@3x\ Mask.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container1 {
    width: 610px;
    margin:214px 0px 0px 200px;
}

.container1 p {
    font-size: 48px;
    line-height: 61.34px;
    color: #F9F8FF;
}

#btnmaincontainer {
    border:1px solid  #7971E9;
    width: 210px;
    height: 55px;
    background-color: #7971E9;
    color: #F4EEFF;
    text-align: center;
    margin-top: 15px;
    border-radius: 4px;
}

#textcontainer {
    border: 1px solid #7971E9;
    padding-top: 14px;
}

#btnmaincontainer i {
    font-size: 20px;
    line-height: 24px;
}

#iconcontainer1 {
    margin-top: 20px;
}

#googleplay {
    padding-left: 20px;
}

#brandscontainer {
    position: static;
    height: 180px;
    width:100%;
    background-color: #293942;
    margin-top: 266px;
}

#brandimg {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #293942;
    padding: 70px 0px;
    height: 32px;
    margin:0 auto;
}

.middletopcontainer {
    position: static;
    width: 100%;
    height: 550px;
    background-color: #1B262C;
}

#middletopcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height: 530px;
}

#middletopimgcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    
}

#middletopimgcontainer img {
    width: 25%;
    height: 24%;
    padding: 10px 10px;
}

#middletoptextcontainer {
    width: 40%;
}

#middletoptextcontainer p {
    font-size: 24px;
    color: #616161;
}

#middletoptextcontainer h1 {
 font-style: italic;
 font-size: 48px;
 line-height: 61px;
 color: #F9F8FF;
}

#middlebottomcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 653px;
    background-color: #1B262C;
    box-shadow: 0px 30px 20px 0px #1A1A1A40 inset;
}

#middlebottomtext {
    width: 40%;
}

#middlebottomtext h1 {
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0px;
    text-align: left;
    color:#F9F8FF ;
}

#middlebottomtext p {
    color: #F9F8FF80;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
}

#middlebottomimgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}


