body {
  font-family: 'Sanchez', serif;
  margin:0;
  box-sizing: border-box;
  padding: 0;
}

#header {
    width:100%;
    height: 120px;
    background-color:#293942;
    display: flex;
    align-items: center;
    color: #F9F8FF;
}

#radiohead {
    position: absolute;
width: 236px;
height: 20px;
left: 200px;
top: 51px;
}

#contact {
    position: absolute;
height: 31px;
left: 53.7%;
right: 45.51%;
letter-spacing: 0.218182px;
font-size: 24px;
line-height: 31px;
}

#plans {
    position: absolute;
    height: 31px;
left: 61.2%;
right: 35.47%;
letter-spacing:0.218182px;
font-size: 24px;
line-height: 31px;
}

#blog {
    position: absolute;
height: 31px;
left: 67.14%;
right: 30.1%;
font-size: 24px;
line-height: 31px;
letter-spacing: 0.218182px;
}

#btnheader1 {
    width: 160px;
    height: 55px;
    background-color: #7971E9;
    position: absolute;
    border-style: none;
left: 72.45%;
right: 19.22%;
top: 4.50%;
bottom: 26.67%;
font-size: 20px;
font-weight: 400;
color: #F4EEFF;
}

#btnheader2 {
    width: 145px;
    height: 55px;
    position: absolute;
left: 85.03%;
right: 10.42%;
top: 4.50%;
bottom: 26.67%;
background-color:#293942;
border:1px solid #7971E9;
color: #7971E9;
font-size: 20px;
font-weight: 400;
}

#section1 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 842px;
    background-color: #1B262C;
    background-image: url(./images/iPhone\ 11\ Pro\ Copy@3x\ +\ iPhone\ 11\ Pro\ Copy\ 3@3x\ +\ iPhone\ 11\ Pro\ Copy\ 5@3x\ +\ iPhone\ 11\ Pro\ Copy\ 4@3x\ +\ iPhone\ 11\ Pro\ Copy\ 7@3x\ +\ iPhone\ 11\ Pro@3x\ +\ iPhone\ 11\ Pro\ Copy\ 8@3x\ Mask.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container1 {
    z-index: 0;
    width: 610px;
    margin:214px 0px 0px 200px;
}

.container1 p {
    font-size: 48px;
    line-height: 61.34px;
    color: #F9F8FF;
}

#btnmaincontainer {
    border:1px solid  #7971E9;
    width: 210px;
    height: 55px;
    background-color: #7971E9;
    color: #F4EEFF;
    text-align: center;
    margin-top: 15px;
    border-radius: 4px;
}

#textcontainer {
    border: 1px solid #7971E9;
    padding-top: 14px;
}

#btnmaincontainer i {
    font-size: 20px;
    line-height: 24px;
}

#iconcontainer1 {
    margin-top: 20px;
}

#googleplay {
    padding-left: 20px;
}





